
body {
    background-color: #666E6E;
    color: lightgray;
}
.jumbotron {
    color: white;
    width: 100%;
    background-image: url("../img/jumbotron.jpg");
    padding-left: 20px;
    height: 350px;
}
.form {
    font-size: 27px;
    border-radius: 10px;
    border: 2px solid;
    padding: 20px;
    margin-top: 200px;
    background-color: #E0E2E2;
    color: black;
}
#string {
    width: 330px;
}
.word_display {
    font-size: 40px;
}
.btn {
    width: 330px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
    border: 2px solid;
    padding-bottom: 20px;
    background-color: #E0E2E2;
}
.result {
    margin-top: 200px;
    font-size: 60px;
    text-align: left;
}
.number {
    background-image: url("../img/result.jpg");
    color: white;
    font-size: 200px;
    text-align: center;
    height: 320px;
    border-radius: 10px;
    max-width: 500px;
}
